body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 1150px;
}
header a {
    padding-top: 15px;
}
header ul {
    font-size: larger;
    padding-top: 15px;
    display: flex;
    gap: 15px;
}

.Upper_portion {
    background-color: #1F2937;
    color: white;
    font-weight: 900; 
    margin-top: -22px;
    font-size: 48px;     
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-top: 90px;
}
.Upper_portion .secondary {
    font-size: 30px;
    font-weight: 100;
    color: lightgrey;
    margin-top: -65px
}
.Upper_portion button { /*Manipulating the actual button properties like: size/color not it's position that's the class button job*/

}

a {
    text-decoration: none;
    color: lightgrey;
}
ul{
    /* display: flex; */
    /* gap:5px; */
    list-style-type: none;
}