@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 998px;
}
header a {
    padding-top: 15px;
}
header ul {
    font-size: larger;
    padding-top: 15px;
    display: flex;
    gap: 20px;
}

.Upper {
    background-color: #1F2937;
    color: white;
    font-weight: 900; 
    font-size: 48px;     
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    gap: 100px;
}        
.Upper_portion .secondary {
    font-size: 30px;
    font-weight: 100;
    color: lightgrey;
    display: flex;
   
}
.Upper_portion button { /*Manipulating the actual button properties like: size/color not it's position that's the class button job*/
  background-color:  #3882f6;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px 40px;
  border-radius: 8px;
  border-style: hidden;
}
.Upper_portion .button { /*now we control the actual position of the button*/
  margin-top: -35px;
}
.main_image {
    
    /* background-color: blue; */
    display: flex;
    align-items: center;
    margin-top: 120px;
}
a {
    text-decoration: none;
    color: lightgrey;
}
ul{
    /* display: flex; */
    /* gap:5px; */
    list-style-type: none;
}