@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 998px;
}
header a {
    padding-top: 15px;
}
header ul {
    font-size: larger;
    padding-top: 15px;
    display: flex;
    gap: 20px;
}

.Upper {
    background-color: #1F2937;
    color: white;
    font-weight: 900; 
    font-size: 48px;     
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    gap: 100px;
}        
.Upper_portion .secondary {
    font-size: 30px;
    font-weight: 100;
    color: lightgrey;
    margin-top: -60px;
}
.Upper_portion button { /*Manipulating the actual button properties like: size/color not it's position that's the class button job*/
  background-color:  #3882f6;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px 40px;
  border-radius: 8px;
  border-style: hidden;
}
.Upper_portion .button1 { /*now we control the actual position of the button*/
  margin-top: -35px;
}
.main_image {
    
    /* background-color: blue; */
    display: flex;
    align-items: center;
    margin-top: 70px;
}
a {
    text-decoration: none;
    color: lightgrey;
}
ul{
    /* display: flex; */
    /* gap:5px; */
    list-style-type: none;
}

.Middle {
    /* background-color: aqua; */
    padding-bottom: 100px;
}
.Middle .h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}
.Middle .cards_of_images { /*The position of the ul not their style! that's .individual_cards*/
    display: flex;
    justify-content: center;
}
.Middle .individual_cards {
    display: flex;
    gap: 60px;
}
.individual_cards img {
    border: 4px solid #3882f6;
    border-radius: 20px;
    overflow: hidden;
}
.individual_cards img {
    vertical-align: middle;
    object-fit: cover;
}
figure {
    padding: 0;
    margin: 0;
}
.fig {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: 100;
    color: darkslategrey;
}

.Lower {
    font-family: serif, cursive;
    background-color: #E5E7Eb;
    font-size: 36px;
    font-weight: 100;
    height:400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cite .david {
    font-style: normal;
}
.cite {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    margin-right: 45px;
    align-items: center;
    flex-wrap: nowrap;
}
.cite::after {
    content: ", Hardest Man Alive.";
    font-style: italic;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
    
}
.Call_to_action {
    border: 1px hidden #3882f6;
    background-color: #3882f6;
    color: white;
    width: 1000px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.cta {
    /* background-color: peru; */
    /* width: 700px; */
    height: 80px;
    padding-bottom: 25px;
    /* padding-left: 125px; */
}
.Call_to_action h3 {
    font-size: 25px;
    font-weight: 900;
    /* background-color: purple; */
    height: 5px;
}
.Call_to_action p {
    /* background-color: red; */
    font-size: 18px;
    height: 0;
}
.Call_to_action .button2 { /*moving the button solo (Sign up)*/
    /* padding-top: 65px; */
    /* background-color: yellowgreen; */
}
.Call_to_action button { /*Adjusting the button itself*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border: 2px solid white;
    padding: 6px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
}